<div class="card">
    <div class="card-header">
        <nav>
            <div class="nav nav-pills" id="nav-tab" role="tablist">
                <a class="nav-item nav-link" id="nav-add-tab" data-target="_self" aria-selected="false" routerLink="/add-task" routerLinkActive="active show" style="cursor: pointer;">Add Task</a>
                <a class="nav-item nav-link" id="nav-view-tab" data-target="_self" aria-selected="true" routerLink="/view-tasks" routerLinkActive="active show" style="cursor: pointer;">View Task</a>
            </div>
        </nav>
    </div>
</div>
<router-outlet></router-outlet>