<br/>
<div class="container-fluid">
    <h3 style="padding-left: 10px;">Edit Task</h3>
    <form *ngIf="editTaskForm" [formGroup]="editTaskForm" (ngSubmit)="onSubmit()">
        <div class="hidden">
            <input type="hidden" class="form-control" id="taskId" formControlName="taskId"/>
        </div>
        <table border="0" cellspacing="0" cellpadding="10" style="width: 60%">
          <thead>
            <th width="20%"></th>
            <th width="10%"></th>
            <th width="70%"></th>
          </thead>
          <tbody>
            <tr class="form-group">
                <td>
                    <label>Task</label>
                </td>
                <td></td>
                <td>
                    <input type="text" class="form-control" id="taskName" formControlName="taskName" autofocus/>
                </td>
            </tr>
            <tr class="form-group">
                <td>
                    <label>Priority</label>
                </td>
                <td></td>
                <td>
                    <input type="range" class="form-control slider" min="0" max="30" id="priority" formControlName="priority" [(ngModel)]="rangeValue" title="{{rangeValue}}" />
                </td>
            </tr>
            <tr class="form-group">
                <td>
                    <label>Parent Task</label>
                </td>
                <td></td>
                <td>
                    <div formGroupName="parentTask" novalidate>
                        <div class="hidden">
                            <input type="hidden" class="form-control" id="parentTaskId" formControlName="parentTaskId"/>
                        </div>
                        <input type="text" class="form-control" id="parentTaskName" formControlName="parentTaskName"/>
                    </div>
                </td>
            </tr>
            <tr class="form-group">
                <td>
                    <label>Start Date</label>
                </td>
                <td></td>
                <td>
                    <input type="date" class="form-control" id="startDate" formControlName="startDate"/>
                </td>
            </tr>
            <tr class="form-group">
                <td>
                    <label>End Date</label>
                </td>
                <td></td>
                <td>
                    <input type="date" class="form-control" id="endDate" formControlName="endDate"/>
                </td>
            </tr>
          </tbody>            
        </table>
        <br>
        <div class="text-center">
        <table border="0" cellspacing="0" cellpading="10">
            <tr>
                <td width="45%">
                    <button type="submit" [disabled]="!editTaskForm.valid" class="btn btn-success" style="width: 120px; cursor: pointer;">Update Task</button>
                </td>
                <td width="10%"></td>
                <td width="45%">
                    <button type="button" class="btn btn-primary" style="width: 120px; cursor: pointer;" (click)="cancelEdit()">Cancel</button>
                </td>
            </tr>
        </table>
      </div>
    </form>
</div>
